src/main/mule/x-orderline-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="x-orderline-api-config" api="x-orderline-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="x-orderline-api-main">
        <http:listener config-ref="x-orderline-api-httpListenerConfig" path="${http.basePath}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="x-orderline-api-config" />
    </flow>
    <flow name="x-orderline-api-console">
        <http:listener config-ref="x-orderline-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="x-orderline-api-config" />
    </flow>
    <flow name="put:\erpOrderLines\(erpOrderId)\(erpOrderLineId):application\json:x-orderline-api-config">
        <set-variable value="#['put:\erpOrderLines\(erpOrderId)\(erpOrderLineId):application\json:x-orderline-api-config']" doc:name="Set flow name" doc:id="84e4eb7a-e68f-4694-ba19-b4259aa637cf" variableName="flowName" />
        <flow-ref doc:name="Log receiver entry" doc:id="9e6bdee2-b4e3-4621-8d2c-6b2efcbaa88f" name="log-receiver-entry-sub-flow" />
        <flow-ref doc:name="Audit receiver entry" doc:id="9fba39f8-98c9-4339-b06d-cf2cdf222c69" name="audit-receiver-entry-sub-flow" />
        <ee:transform doc:id="aa4d8baa-8533-4982-857f-2a0289facbf0" doc:name="Set attributes">
            <ee:variables>
                <ee:set-variable variableName="erpOrderId"><![CDATA[attributes.uriParams.'erpOrderId']]></ee:set-variable>
                <ee:set-variable variableName="erpOrderLineId"><![CDATA[attributes.uriParams.'erpOrderLineId']]></ee:set-variable>
                <ee:set-variable variableName="accountNumber"><![CDATA[attributes.headers.'erp-account-number']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Update orderline flow" doc:id="ca6e7eb7-65f9-4dcf-a903-086ce2b66b6a" name="put-orderline-update-impl-sub-flow" />
        <flow-ref doc:name="Audit dispatcher exit" doc:id="76268961-2986-4e5b-9071-a15a4e5e48b1" name="audit-dispatcher-exit-sub-flow" />
        <flow-ref doc:name="Log dispatcher exit" doc:id="94085fcf-efd9-4024-8d24-66be51652dee" name="log-dispatcher-exit-sub-flow" />
    </flow>
    <flow name="put:\erpLicenseFulfillmentStatus\(erpOrderId)\(erpOrderLineId):application\json:x-orderline-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="erpOrderId">attributes.uriParams.'erpOrderId'</ee:set-variable>
                <ee:set-variable variableName="erpOrderLineId">attributes.uriParams.'erpOrderLineId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  responseCode: 0,
  responseText: "success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
